mat-sidenav-container{
    height: calc(205vh - 115vh);
  }
  mat-sidenav{
    width: 200px;
  }
  
  a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
  }
  .mat-list-item:hover{
    background-color: rgb(182, 180, 180);
  }
  .date {
    width: 120px;
    text-align: center;
    margin-left: 3px;
    font-size: 20px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
    
    
  }
  

  