<mat-toolbar color="primary">
  <mat-toolbar-row>
     <button mat-icon-button >
      <mat-icon (click)="sidenav.toggle();" >menu</mat-icon>
     </button>
     <h1>Siraj Hotel</h1>

        <span class="example-spacer"></span>
        
         <div class="date">
          <app-clock></app-clock>
  
         </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side">
      <mat-nav-list >
          <a  mat-list-item  routerLink="/sales">Sales</a>
          <a mat-list-item  routerLink="/detail"> Sale Details</a>
          <a mat-list-item>Dashboard </a>
          <a mat-list-item>Menu</a>
          <a mat-list-item>Reports</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
