<!-- <h1 mat-dialog-title>Loading</h1>
<mat-dialog-content>
    <p>Please Confirm To Print The Bill</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="cancel" mat-button mat-dialog-close >Cancel</button>
    <button mat-raised-button color="primary">Print</button>
</mat-dialog-actions> -->

 <!-- <div id="page">
   
    <section>

SIRAJ HOTEL
<h5>NON-VEG RESTAURANT</h5>
<h5>DUBAI KURUKKUSANDHU</h5>
<h5>DUBAI</h5>
<h5>PH : 8056457781</h5>


<div class="clock">
                      {{dateTime | date: 'd:M:y'}}
        
                <app-clock></app-clock>

       </div>
       <div class="waiter">

                Waiter:{{data.waiter}}
        Table No:{{data.table}}
    </div>

        <ng-container>
            <div class="container">
                <div class="table">
                    <div class="product">
                        <table class="responsive">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Qty
                                    </th>
                                
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor ="let item of data.print; let i=index ">
                                 
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.quantity}}

                                    </td>
                                    <td>
                                        {{item.price}}

                                    </td>
                                    <td>
                                        {{item.amount}}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
        
        
        
    </section>
   
  </div>


  <h1>
    RS.{{data.totalamount}}
</h1> -->

<!-- <button class="print" onclick="window.print()" mat-raised-button color="accent">Print</button> -->





















